/* Estilos Globales */
body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    margin-top: 50px;
    padding: 0;
    background: linear-gradient(135deg, #c0cdf0 0%, #b0bcd1 100%);
    animation: gradient 15s ease infinite;
    color: #333;
     height: 100%;
     margin: 0;
     overflow: hidden;
}

h1,
h2,
h3 {
    font-weight: 600;
    color: #232d3b;
}

.main-content {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.main-content-full {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.whatsapp-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;

  width: 56px;
  height: 56px;
  border-radius: 50%;

  background-color: #25d366;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.whatsapp-fab img {
  width: 28px;
  height: 28px;
  display: block;
}

.whatsapp-float {
  color: #fff;
}

.whatsapp-float svg {
  color: #fff;
}

.whatsapp-fab:hover {
  transform: scale(1.08);
}


